<% include header %>

<body background = "images\Background.jpg">
    <link rel="stylesheet" type="text/css" href="css\vinaylinginedi.css">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Vinay Linginedi</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="/index">Home</a></li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Converter<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/game">LengthConverter</a></li>
            </ul>
          </li>
          <li><a href="/contact">Contact</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </nav>

    <div class="container">
            <div class="row">
               <Section class = "section-header">
                  <header><h2><strong><p style="color:white;">Contact me @</p></strong></h2></header>
               </Section>
            <div class ="col-md-6">
                <Section class = "aside-header">  
                    <article>
                    <h3 style="color:white;">Mobile number</h3>
                    <p style="color:white;">Personal contact : +1 (813)-970-8232</p>
                    <p style="color:white;">Whatsapp contact : +91 8686664989</p>
                    <h4>****Here is my contact details***********</h4>
                    </article>
                </Section>
                <Section class = "aside-header">  
                        <h3 style="color:white;">Email id</h3>
                        <p style="color:white;">vinaylinginedi@yahoo.in</p>
                        <h4>****Here is my mail details***********</h4>
                </Section>
            </div>
            
            <div class="col-md-6" >   
                            <form action="">
                            <textarea name="message" rows="10" cols="30">   Here you can give any comments!
                            </textarea><br>
                            <button type="button" onclick="alert('Good Day !')">Click Me!</button>
                            <input type="submit" value="Submit">
                            </form>
            </div>
            
            </div>
    </div>
    
        <div class = "col-md-2">
         <a href="https://www.linkedin.com/in/vinay-linginedi-77a22160/"><img src="\images\LinkedIn.png" class = "img-circle" id = "LinkedIn"/></a>
        </div>
        <div class = "col-md-2">
         <a href="https://www.facebook.com/vinay.linginedi"><img src="\images\Fb.png" class = "img-circle" id = "Facebook"/></a>
        </div>
        <div class = "col-md-2">
         <a href="https://github.com/vinaylinginedi/Linginedi"><img src="\images\Github.png" class = "img-circle" id = "GitHub"/></a>
        </div>
        <div class = "col-md-2">
         <a href="https://bitbucket.org/vinaylinginedi/"><img src="\images\Bitbucket.png" class = "img-circle" id = "BitBucket"/></a>
        </div>    
    



    <% include footer %>
