<% include header %>
<body background = "images\Background.jpg">

 <link rel="stylesheet" type="text/css" href="css\game.css">
 <link rel="stylesheet" type="text/css" href="css\vinaylinginedi.css">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Vinay Linginedi</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="/index">Home</a></li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Converter<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/game">LengthConverter</a></li>
              </ul>
            </li>
            <li><a href="/contact">Contact</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span>Sign Up</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
          </ul>
        </div>
      </nav>

<script src="js\game.js"></script>

<h2 style="color:white">Length Converter</h2>
<p style="color:white">Type a value in the Feet field to convert the value to Inches:</p>

<p>
  <label style=color:white>Feet : </label>
  <input id="inputFeet" type="number" placeholder="Feet" oninput="LengthConverter(this.value)" onchange="LengthConverter(this.value)">
</p>
<p style=color:white>Inches: <span id="outputInches"></span></p>
<p style=color:white>Meters: <span id="outputMeters"></span></p>
<p style=color:white>Miles: <span id="outputMiles"></span></p>

<% include footer %>