<% include header %>

<body background = "images\Background.jpg">
    <link rel="stylesheet" type="text/css" href="css\vinaylinginedi.css">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Vinay Linginedi</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="/index">Home</a></li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Converter<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/game">LengthConverter</a></li>
            </ul>
          </li>
          <li><a href="/contact">Contact</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </nav>
    
    
    <div class="container">
    <div class="row">
    <!--Header -->
       <Section class = "section-header">
       <header><h2><strong><p style="color:white;">Vinay Linginedi</p></strong></h2></header>
       </Section>
    <!-- Main -->
    <main> 
    <!-- Section 1 -->
      <div class ="col-md-8">
        <Section class = "aside-header">  
            <h3 style="color:white;">Current role</h3>
          <p style="color:white;">I am a new bear cat of the fall 2018 batch working on my Masters of Applied Computer Science.</p>
          </Section>
         <!-- Section 2 -->
          <Section id = "past-section">
           <h3 style="color:white;">Background</h3>
         <p style="color:white;">I'm a international student from India.<br> I did my under graduation in the stream of electronics and communications after that I worked as a software developer in Tata Consultancy Services for about 2.8 years for the client American Express. I worked in two different technologies namely Mainframe and PEGA. My hobbies are playing table tennis and volley ball, listening music. An interesting thing about me is that I am a nature lover and can do multi tasking.</p>
          </Section>
         <!-- Section 3 -->
          <Section id = "future-section">
           <h3 style="color:white;">Goals</h3>
         <p style="color:white;">My long term goal is to establish a IT company which serves technical support to small scale business.</p>
          </Section>
         <!-- Section 4 -->
          <Section id = "Schedule">
           <h3 style="color:white;">Schedule</h3>
           <ul style="color:white;">
             <li>Web apps Monday & Wendesday (12:00 - 12:50)pm</li>
             <li>OOPs Tuesday & Thursday(2:00 - 3:15)pm</li>
             <li>Lab Thursday(3:35 - 5:35)pm</li>
         </ul>
        </Section>
      <!-- Section 5 -->
        <Section id = "Youtube">
          <h3 style="color:white;">Graduation Day Spring 2018</h3>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/KO4lAGTplyo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </Section>
      </div>
      <div class = "col-md-4">
        <img src = "images\Vinay.png" class = "img-circle" id = "Edit">
      </div>
      
    </div>
    </div>
    </main>

    <% include footer %>
