.section-header{
font-family:"Times New Roman";
font-style: italic;
font-size:15px;}

.aside-header{
 font-family:"Times New Roman";
 font-style: italic;
 font-size:15px;}
 
#past-section{
 font-family:"Times New Roman";
 font-style: italic;
 font-size:15px;}
 
#future-section{
 font-family:"Times New Roman";
 font-style: italic;
 font-size:15px;}
 
#Schedule{
font-style: italic;
font-family:"Times New Roman";
}

#Youtube{
font-style: italic;
font-family:"Times New Roman";
}

#Edit{
   width :  300px;
   height : 300px;
}

#LinkedIn{
    align-items: stretch;
    margin-top: 100px;
    width :  100px;
    height : 100px;  
}

#Facebook{
    align-items: stretch;
    margin-top: 100px;
    width :  100px;
    height : 100px;  
}

#GitHub{
    align-items: stretch;
    margin-top: 100px;
    width :  100px;
    height : 100px;  
}

#BitBucket{
    align-items: stretch;
    margin-top: 100px;
    width :  100px;
    height : 100px;  
}
 
footer{
font-style: bold;
font-family:"Times New Roman";
}

h4{
    background-color: white;
    font-style: italic;
    font-family:"Times New Roman";
}









